# App
NODE_ENV=development
PORT=9000

# Database
DATABASE_PROVIDER=sqlite # sqlite | mysql

# Для SQLite
DATABASE_URL="file:./dev.db"

# Для MySQL (будет использоваться в production)
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_DB=blog

# JWT
JWT_ACCESS_SECRET=super-secret-access
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=super-secret-refresh
JWT_REFRESH_EXPIRES_IN=7d

# COOKIES
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
COOKIE_DOMAIN=localhost

# CORS
CORS_ORIGIN=http://localhost:3000

# FILE STORAGE (позже понадобится)
FILE_STORAGE_PATH=uploads
PUBLIC_URL=http://localhost:9000